@model IEnumerable<MVCWithEFCF2.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sid })
        </td>
    </tr>
}

</table>
